.env
logs
5min data
test_fol
test_data.csv
error
Summary
Details
AngelLiveDataFetch-RsiCalculate 5min.ipynb
Scripts
treads
Unused Scripts
.ipynb_checkpoints
Daily_Report
Candel_data_5min.py
5min test
etc
new_treads
unused script
bhavanse_date_r2.py
bhavanse_date_r.py
analyze_treads.py
bhavanse.py
Rsi_treads
Daily_Stocks_FIXED.py
filtered_profitable_stocks.csv
nifty500_single_summary_all_data.csv
nifty500_single_summary_last_3months.csv
nseindia_nse.py
yfinance_nse.py
yfinance_rsi.py
yfinance.ipynb
BANKNIFTY_Treads.csv
NIFTY50_Treads.csv
